{{ define "containers" }}
{{- range .Containers}}
      - name: {{.Name}}
        image: {{.Image}}
        {{- if .Command}}
        command: {{.Command}}
        {{- end}}
        {{- if .Args}}
        args: {{.Args}}
        {{- end}}
        {{- if .Ports}}
        ports:
        {{- range .Ports}}
        - containerPort: {{- if .TargetPort }} {{.TargetPort}} {{- else }} {{.Port}} {{- end}}
          name: {{.Name}}
        {{- end}}
        {{- end}}
        resources:
          requests:
            memory: {{- if .RequestsMemory }} {{.RequestsMemory}} {{- else }} 128Mi {{- end}}
            cpu: {{- if .RequestsCPU }} {{.RequestsCPU}} {{- else }} 250m {{- end}}
          limits:
            memory: {{- if .LimitsMemory }} {{.LimitsMemory}} {{- else }} 256Mi {{- end}}
            cpu: {{- if .LimitsCPU }} {{.LimitsCPU}} {{- else }} 500m {{- end}}
        {{- if .ReadinessProbePort}}
        readinessProbe:
          httpGet:
            path: {{.ReadinessProbePath}}
            port: {{.ReadinessProbePort}}
            httpHeaders:
            - name: X-Kubernetes
              value: readinessProbe
          initialDelaySeconds: 5
          periodSeconds: 5
          failureThreshold: 5
          timeoutSeconds: 7
        {{- end}}
        {{- if .LivenessProbePort}}
        livenessProbe:
          httpGet:
            path: {{.LivenessProbePath}}
            port: {{.LivenessProbePort}}
            httpHeaders:
            - name: X-Kubernetes
              value: livenessProbe
          initialDelaySeconds: 5
          periodSeconds: 10
          timeoutSeconds: 7
          failureThreshold: 5
        {{- end}}
        {{- if .EnvSecret}}
        envFrom:
          - secretRef:
              name: {{.EnvSecret}}
        {{- end}}
        {{- if .EnvVars}}
        env:
        {{- range .EnvVars}}
        - name: {{.Name}}
          value: {{.Value}}
        {{- end}}
        {{- end}}
        {{- if .VolumeMounts}}
        volumeMounts:
        {{- range .VolumeMounts}}
        - mountPath: {{.MountPath}}
          name: {{.Name}}
          {{- if .SubPath}}
          subPath: {{.SubPath}}
          {{- end}}
        {{- end}}
        {{- end}}
{{- end}}
{{- end }}
