apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Name }}
  labels:
    app.kubernetes.io/component: {{.Name}}
spec:
  replicas: {{.Replicas}}
  selector:
    matchLabels:
        app.kubernetes.io/component: {{.Name}}
  template:
    metadata:
      labels:
        app.kubernetes.io/component: {{.Name}}
    spec:
      containers:
      {{- range .Containers}}
        - name: {{.Name}}
          image: {{.Image}}
          {{- if .Command}}
          command: {{.Command}}
          {{- end}}
          {{- if .Args}}
          args: {{.Args}}
          {{- end}}
          {{- if .PortInt}}
          ports:
          - containerPort: {{.PortInt}}
            name: {{.PortName}}
          {{- end}}
          {{- if .EnvSecret}}
          envFrom:
          - secretRef:
              name: {{.EnvSecret}}
          {{- end}}
          {{- if .ConfigMapName}}
          volumeMounts:
          - mountPath: {{.ConfigMount}}
            name: {{.ConfigVolName}}
          {{- end}}
      {{- end}}
      {{- if .ConfigMount}}
      volumes:
        - name: {{.ConfigVolName}}
          configMap:
            name: {{.ConfigMapName}}
      {{- end}}
