---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: {{.Name}}
  {{- if .Labels}}
  labels:
    {{- range .Labels}}
    {{.Name}}
    {{- end}}
  {{- end}}
  {{- if .Annotations}}
  annotations:
    {{- range .Annotations}}
    {{.Name}}
    {{- end}}
  {{- end}}
spec:
  rules:
    - http:
        paths:
          {{- range .Paths}}
          - path: {{.Path}}
            backend:
              serviceName: {{.Service}}
              servicePort: {{.Port}}
          {{- end}}

