---
apiVersion: v1
kind: Service
metadata:
  name: {{.Name}}
  {{- if .Labels}}
  labels:
    {{- range .Labels}}
    {{.Name}}
    {{- end}}
  {{- end}}
spec:
  ports:
    - port: {{.Port}}
      targetPort: {{.TargetPort}}
      protocol: TCP
  type: {{.Type}}
  {{- if .Selectors}}
  selector:
    {{- range .Selectors}}
    {{.Name}}
    {{- end}}
  {{- end}}

