---
apiVersion: v1
kind: Service
metadata:
  name: {{.Name}}
  {{- if .Labels}}
  labels:
    {{- range .Labels}}
    {{.Name}}
    {{- end}}
  {{- end}}
spec:
  ports:
  {{- range .Ports}}
  - port: {{.Port}}
    {{- if .Name }}
    name: {{.Name}}
    {{- end}}
    targetPort: {{.TargetPort}}
    protocol: {{- if .Protocol }} {{.Protocol}} {{- else }} TCP {{- end}}
  {{- end}}
  type: {{- if .Type }} {{.Type}} {{- else }} ClusterIP {{- end}}
  {{- if .Selectors}}
  selector:
    {{- range .Selectors}}
    {{.Name}}
    {{- end}}
  {{- end}}
  {{- if .Headless}}
  clusterIP: None
  {{- end}}
