apiVersion: v1
kind: Service
metadata:
  name: {{.Name}}
  labels:
    app.kubernetes.io/component: {{.Name}}
spec:
  ports:
    - port: {{.Port}}
      targetPort: {{.TargetPort}}
      protocol: TCP
  type: {{.Type}}
  selector:
    app.kubernetes.io/component: {{.Name}}
