---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{.Name}}
spec:
  selector:
    matchLabels:
      {{- range .Labels}}
      {{.Name}}
      {{- end}}
  serviceName: {{.ServiceName}}
  template:
    metadata:
      labels:
        {{- range .Labels}}
        {{.Name}}
        {{- end}}
    spec:
      containers:
      {{- template "containers" . }}
      {{- if .Volumes}}
      volumes:
        {{- range .Volumes}}
        - name: {{.Name}}
        {{- end}}
      {{- end}}
